*.dat
*.class
*.ctrl
*.lck
*.xml
*.bin
*.log
Source/derby.log
Source/.idea/workspace.xml
Source/.idea/codeStyles/Project.xml
Source/ComputerDB/service.properties

Source/ComputerDB/

Source/\.idea/

Notes/~\$Notes\.xlsx

*.kotlin_module
