.label {
    -fx-text-fill: black;
    -fx-font-size: 12pt;
}

.button{
    -fx-background-color: darkgray;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

#errorLabel {
    -fx-text-fill: red;
}

#title {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}